---
layout: default
---

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>
  <!-- Wrapper for slides -->
    <div class="item carousel-item">
      <img src="styles/pictures/carousel/Babylon_Tor_WARM1d.jpeg" alt="New York" />
      <div class="carousel-caption">
        <h3>Babylon ORCHESTRA Debut Album: <a target="_blank" href="www.sungroove.de/shop/#cc-m-product-11639777477 ">Get it here!</a></h3>
        <p></p>
      </div>
    </div>
  <div class="carousel-inner" role="listbox">
    <div class="item active carousel-item">
      <img src="styles/pictures/carousel/title2.jpg" alt="New York" />
      <div class="carousel-caption">
        <p></p>
      </div>
    </div>
    <div class="item carousel-item">
      <img src="styles/pictures/carousel/lang1.jpg" alt="New York" />
      <div class="carousel-caption">
        <h3>Zwischen Euphrat und Elbe</h3>
        <p></p>
      </div>
    </div>
    <div class="item carousel-item">
      <img src="styles/pictures/carousel/lang2.jpg" alt="New York" />
      <div class="carousel-caption">
        <p></p>
      </div>
    </div>
    <!-- Left and right controls -->
    <a
      class="carousel-control-prev"
      href="#myCarousel"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="carousel-control-next"
      href="#myCarousel"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<div class="container text-center">
  <h1>BABYLON ORCHESTRA</h1>
  <p><em>Orient trifft Okzident - im Herzen Berlins</em></p>
  <p align="justify">
    Liebe Fans und Freunde, das <a target="_blank" href="https://babylonorchester.github.io/compactDisk/">Babylon ORCHESTRA Debut Album</a> ist da!
  </p>
  <p align="justify">
     Das Album ist auch erhältlich auf <a target="_blank" href="https://open.spotify.com/artist/2YfCVOGiOf90FwKBDWplw6">Spotify</a>,
     <a target="_blank" href="https://www.sungroove.de/shop/#cc-m-product-11639777477">iTunes</a>,
     <a target="_blank" href="https://www.deezer.com/de/">DEEZER</a> 
     und exklusiv als Download in
   </p>
     94 kHz/24 Bit Auflösung über unseren Partner 
     <a target="_blank" href="https://www.highresaudio.com/de/album/view/ncfqxc/babylon-orchestra-babylon-orchestra">HIGHRESAUDIO!</a>
  </p>
  <p align="justify">
    <b>Babylon ORCHESTRA </b> ist ein junges Berliner Ensemble für urbane
    orientalische Musik - bestehend aus zirka 15 Musikern und Sängern aus
    Syrien, Iran, Irak, Israel, Russland, Italien, Frankreich, Kurdistan und
    Deutschland. Die Idee zu dessen Gründung kam Mischa Tangian und Sofia
    Surgutschowa Anfang 2016, als sie auf der Suche nach einer ganz persönlichen
    Antwort und Reaktion auf eine sich verändernde Welt im Zusammenhang mit der
    Migrationskrise waren.
  </p>
  <p align="justify">
    Ziel des Orchesters ist es, den musikalischen Austausch zwischen Orient und
    Okzident zu fördern. Das Ensemble erarbeitet ein Repertoire, das eine
    Verbindung zwischen traditioneller orientalischer Musik und modern-
    zeitgenössischer Musik mit urbanen Elementen der Berliner Musikszene
    darstellt. Im Vordergrund stehen zeitgenössische Kompositionen von
    Komponisten, die für das Babylon ORCHESTRA schreiben oder ihre existierenden
    Werke an die Besetzung anpassen. Außer den Eigen- und Neukompositionen
    entstehen auch Arrangements bereits bekannter und traditioneller Stücke für
    das Konzertrepertoire.
  </p>
  <p align="justify">
    Das Ensemble fördert insbesondere neue Kreationen, in die sich Musiker aus
    allen Kulturkreisen einbringen können, da es nur in einer zeitgemäßen Musik
    eine Chance für einen ehrlichen, persönlichen künstlerischen Ausdruck sieht
    und die Weiterentwicklung der musikalischen Sprache als Möglichkeit für den
    Anschluss der Tradition an das Heute und Jetzt versteht.
  </p>
  <p align="justify">
    Eines der weitergehenden Ziele ist es, die Mitglieder des Orchesters dabei
    zu unterstützen, in Deutschland und Europa musikalisch Fuß zu fassen und
    somit aktiv und kreativ zur Integration beizutragen. Dies hilft den
    geflüchteten Musikern eine Basis in ihrer neuen Heimat aufzubauen. Auch die
    europäischen Musiker gewinnen durch die Zusammenarbeit und können durch das
    Orchester ihre Neigung zur orientalischen Musik professionell
    weiterentwickeln.
  </p>
  <p align="justify">
    Außer der großen Besetzung tritt das Babylon ORCHESTRA auch in
    kammermusikalischen Formationen als Babylon ORCHESTRA soloists auf (zwischen
    drei und acht Musikern).
  </p>
  <br />
  {% assign lastVideo = site.musicVideos | reverse | first %}

  <div class="embed-responsive embed-responsive-16by9">
    <iframe
      width="1280"
      height="720"
      src="{{lastVideo.adress}}"
      frameborder="0"
      allow="autoplay; encrypted-media"
      allowfullscreen
    ></iframe>
  </div>
</div>

<!-- TOUR (News  Section) -->
<div id="tour" class="bg-1">
  <div class="container">
    <h3 class="text-center">KONZERTE</h3>
    <p class="text-center">
      Wir spielen auch bald in Ihrer n&#xE4;he <br />Sichern Sie sich Ihre
      Tickets.
    </p>

    <div class="row text-center">
      {% for concert in site.concert reversed %}

      <div class="col-md-4 ">
        <div class="thumbnail bg-light ">
          <img
            src="{{concert.image_path}}"
            class="img-thumbnail"
            alt="San Francisco"
            height="280"
          />
          <p><strong>{{concert.venue }}</strong></p>
          <p>{{concert.concert_date}}</p>
          <button
            class="btn"
            data-toggle="modal"
            data-target="#modal{{forloop.index}}"
          >
            Details
          </button>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="modal{{forloop.index}}" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header"></div>
              <div class="modal-body blackFont">
                <h2>{{concert.title}}</h2>
                <p><i class="fas fa-location-arrow"></i> {{concert.address}}</p>
                <p>
                  {{concert.details}}
                </p>
              </div>
              <div class="modal-footer">
                <button
                  type="submit"
                  class="btn btn-danger btn-secondary
                float-left"
                  data-dismiss="modal"
                >
                  Cancel
                </button>
                <p>Need <a href="#">help?</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% assign loopindex = forloop.index | modulo: 3 %} {% if loopindex == 0 %}
    </div>
    <br />
    <div class="row text-center">
      {% endif %} {% endfor %}
    </div>
    <br />

    <!-- Container (WORKSHOP  Section) -->

    <h3 class="text-center">WORKSHOP</h3>
    <p class="text-center">
      Nehmen Sie teil an einem unserer Workshops
    </p>

    <div class="row text-center">
      {% for workshop in site.workshop %}

      <div class="col-md-4 ">
        <div class="thumbnail bg-light ">
          <img
            src="{{workshop.image_path}}"
            class="img-thumbnail"
            alt="San Francisco"
            height="280"
          />
          <p><strong>{{workshop.venue }}</strong></p>
          <p>{{workshop.concert_date}}</p>
          <button
            class="btn"
            data-toggle="modal"
            data-target="#workshop{{forloop.index}}"
          >
            Details
          </button>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="workshop{{forloop.index}}" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-body blackFont">
                <h2>{{workshop.title}}</h2>
                <p>
                  <i class="fas fa-location-arrow"></i> {{workshop.address}}
                </p>
                <p>
                  {{workshop.details}}
                </p>
              </div>
              <div class="modal-footer">
                <button
                  type="submit"
                  class="btn btn-danger btn-secondary
                float-left"
                  data-dismiss="modal"
                >
                  Cancel
                </button>
                <p>Need <a href="#">help?</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% assign loopindex = forloop.index | modulo: 3 %} {% if loopindex == 0 %}
    </div>
    <br />
    <div class="row text-center">
      {% endif %} {% endfor %}
    </div>
    <br />
  </div>
</div>

<!-- Container (News  Section) -->

<!-- Container (Contact Section) -->
<div id="contact" class="container">
  <h3 class="text-center">KONTAKT</h3>
  <p class="text-center"><em>We love our fans!</em></p>

  <div class="row">
    <div class="col-md-5">
      <p>
        Sofia Surgutschowa und Mischa Tangian <br />
        Laubacher Straße 28 <br />
        14197 Berlin
      </p>
      <p><i class="fas fa-phone"></i> +33 (0) 698 38 80 25 (Sofia)</p>
      <p><i class="fas fa-phone"></i> +49 (0) 176 70081 541 (Mischa)</p>
      <p>
        <i class="fas fa-envelope"></i>
        <a href="mailto:info@babylonorchestra.com">info@babylonorchestra.com</a>
      </p>
    </div>
  </div>
  <br />
</div>

<div id="sponsors" class="container text-center">
  <h3>Unsere Partner</h3>
  <br />

  <p align="justify">
    Ein Projekt wie das Babylon Orchestra ist nur realisierbar, wenn es viele
    Mitwirkende gibt, die im Vorder- oder Hintergrund zum Gelingen beitragen.
    Kooperationspartner:
  </p>
  <br />

  <a target="_blank" href="http://www.btmk.de/de/">
    <img
      src="styles/pictures/sponsors/t_konservatorium.jpg"
      alt="fonds"
      width="300"
    />
  </a>
  <br />

  <p align="justify">
    Zu den zahlreichen Unterstützern des Babylon Orchestra zählen:
  </p>
  <br />

  <a target="_blank" href="http://www.efg-kreuzberg.de/">
    <img
      src="styles/pictures/sponsors/freikirche.png"
      class="img-fluid"
      alt="fonds"
      width="300"
    />
  </a>
  <a target="_blank" href="http://gsbtb.org/#!/">
    <img
      src="styles/pictures/sponsors/giveBack.jpg"
      class="img-fluid"
      alt="fonds"
      width="300"
    />
  </a>
  <br />

  <a target="_blank" href="http://kreuzberg-hilft.com/">
    <img
      src="styles/pictures/sponsors/kreuzHilft.png"
      class="img-fluid"
      alt="fonds"
      width="300"
    />
  </a>
  <p align="justify">
    Unser besonderer Dank gilt Pastor Jonathan Scheer von der
    Evangelisch-Freikirchlichen Gemeinde Berlin-Kreuzberg. Seit April 2016 ist
    es uns möglich wöchentlich in dem Gottesdienst-Saal seiner Gemeinde zu
    proben.
  </p>
  <p align="justify">
    Wir danken unseren finanziellen Förderern für Ihr Vertrauen und die
    großzügige Unterstützung, die es uns ermöglicht unsere Projekte erfolgreich
    umzusetzen:
  </p>

  <a
    target="_blank"
    href="https://www.kubinaut.de/de/profile/projekte/crossing-borders/"
  >
    <img
      src="styles/pictures/sponsors/kubinaut.jpg"
      alt="fonds"
      class="img-fluid"
      class="img-fluid"
      width="200"
    />
  </a>
  <br />
  <br />

  <a target="_blank" href="http://www.hauptstadtkulturfonds.berlin.de/">
    <img
      src="styles/pictures/sponsors/hauptstadtFonds.jpg"
      alt="fonds"
      class="img-fluid"
      width="300"
    />
  </a>
  <p>
    <a target="_blank" href="https://www.arabculturefund.org/home/index.php"
      ><img
        src="styles/pictures/sponsors/afac.png"
        class="img-fluid"
        alt=""
        width="720"
    /></a>
  </p>
  <p>
    <a target="_blank" href="http://www.kulturprojekte.berlin/"
      ><img
        src="styles/pictures/sponsors/projektfonds.jpg"
        alt=""
        class="img-fluid"
        width="720"
    /></a>
  </p>
</div>
<script>
  $(document).ready(function() {
    // Initialize Tooltip
    $('[data-toggle="tooltip"]').tooltip();

    // Add smooth scrolling to all links in navbar + footer link
    $(".navbar a, footer a[href='#myPage']").on("click", function(event) {
      // Make sure this.hash has a value before overriding default behavior
      if (this.hash !== "") {
        // Prevent default anchor click behavior
        event.preventDefault();

        // Store hash
        var hash = this.hash;

        // Using jQuery's animate() method to add smooth page scroll
        // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
        $("html, body").animate(
          {
            scrollTop: $(hash).offset().top
          },
          900,
          function() {
            // Add hash (#) to URL when done scrolling (default click behavior)
            window.location.hash = hash;
          }
        );
      } // End if
    });
  });
</script>
