    <!-- Footer -->
    <footer class="text-center">
        <a href={{ "/contact" | absolute_url }}><u>kontakt</u></a>
		<a href={{ "/imprint" | absolute_url }}><u>impressum</u></a>
        <p></p>
		<p>webdesign by huy le duc</p>
    </footer>
    <div class='scrolltop'>
        <div class='scroll icon'>NACH<br>OBEN
        </div>
    </div>
    <script>
        <!-- TO TOP show on scroll down -->
        $(window).scroll(function()
        {
            if ($(this).scrollTop() > 70)
            {
                $('.scrolltop:hidden').stop(true,
                    true).fadeIn();
            }
            else
            {
                $('.scrolltop').stop(true, true).fadeOut();
            }
        });
        $(function()
        {
            $(".scroll").click(function()
            {
                $("html,body").animate(
                {
                    scrollTop: $(
                            ".thetop"
                        ).offset()
                        .top
                }, "900");
                return false
            })
        })
    </script>
