
    <nav class="navbar navbar-dark fixed-top navbar-expand-lg ">
        <a class="navbar-brand" href={{ "/" | absolute_url }}>
            <img src={{ "/styles/pictures/logoNoW.png" | absolute_url }} alt="" width="25"
                height="25">
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#myNavbar">
        <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item"><a href={{ "/#tour" | absolute_url }} class="nav-link">KONZERTE</a>
                </li>
                <li class="nav-item"><a href={{ "/#contact" | absolute_url }} class="nav-link">KONTAKT</a>
                </li>
                <li class="nav-item"><a href={{ "/blog" | absolute_url }} class="nav-link">NEUIGKEITEN</a>
                </li>
                <li class="nav-item"><a href={{ "/music" | absolute_url }} class="nav-link">MUSIK</a>
                </li>
                <li class="nav-item"><a href={{ "/about" | absolute_url }} class="nav-link">&#xDC;BER UNS</a>
                </li>
                <li class="dropdown nav-item">
                    <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#">MEHR
      <span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li class="dropdown-item"><a href={{ "/support" | absolute_url }}>UNTERST&#xDC;TZEN</a>
                        <li class="dropdown-item"><a href={{ "/compactDisk" | absolute_url }}>CD</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
