body {
  font: 400 15px/1.8 "Open Sans", Lato, sans-serif;
  color: #000;
}

h3,
h4 {
  margin: 10px 0 30px 0;
  letter-spacing: 10px;
  font-size: 20px;
  color: #111;
}

body::-webkit-scrollbar {
  width: 0.75em;
}

body::-webkit-scrollbar-track {
  background-color: #b9b9b9;
}

body::-webkit-scrollbar-thumb {
  background-color: #464646;
  outline: 1px solid #b9b9b9;
}

.container {
  padding: 80px 20px;
  max-width: 720px;
  margin: 0 auto 0px;
}

.aboutContainer {
  padding-top: 130px;
}

.blogjustify {
  text-align: justify;
  text-justify: inter-word;
}
.blogjustify h1 {
  text-align: left;
  text-justify: inter-word;
  font-style: bold;
  font-size: 200%;
}
.blogjustify h2 a {
  color: #181818;
  font-style: bold;
  font-size: 80%;
}
.blogjustify h5 {
  font-style: italic;
  color: gray;
  font-size: 100%;
}

.blogjustify ul {
  list-style-type: none;
}
.blogjustify .blogDate {
  color: gray;
}

.person {
  border: 5px solid transparent;
  margin-bottom: 25px;
  opacity: 0.8;
  -webkit-filter: grayscale(90%);
  filter: grayscale(100%);
  max-width: 100%;
  height: auto;
}

.person:hover {
  border-color: #2d2d30;
}

.carousel-inner img {
  -webkit-filter: grayscale(90%);
  filter: grayscale(100%);
  /* make all photos black and white */
  width: 100%;
  /* Set width to 100% */
  margin: auto;
}

.carousel:hover .carousel-control-next,
.carousel:hover .carousel-control-prev {
  visibility: visible;
}

.carousel-control-next,
.carousel-control-prev {
  visibility: hidden;
}

.carousel-caption h3 {
  color: #fff !important;
}

@media (max-width: 600px) {
  .carousel-caption {
    display: none;
    /* Hide the carousel text when the screen is less than 600 pixels wide */
  }
}

.linkBlack {
  color: black;
  text-decoration: none; /* no underline */
}
.blackFont {
  color: #000;
}

.bg-1 {
  background: #2d2d30;
  color: #bdbdbd;
}

.bg-1 h3 {
  color: #fff;
}

.bg-1 p {
  font-style: italic;
}

.list-group-item:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.list-group-item:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.img-thumbnail {
  padding: 0;
  border: 0px;
  border-radius: 0;
}

.thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
}

.thumbnail p {
  margin-top: 15px;
  color: #555;
}

.btn {
  padding: 10px 20px;
  background-color: #333;
  color: #f1f1f1;
  border-radius: 0;
  transition: 0.2s;
}

.btn:hover,
.btn:focus {
  border: 1px solid #333;
  background-color: #fff;
  color: #000;
}

.modal-header,
h4,
.close {
  background-color: #333;
  color: #fff !important;
  text-align: center;
  font-size: 30px;
}

.nav-tabs li a {
  color: #777;
}

#contact p {
  text-align: center;
}
#googleMap {
  width: 100%;
  height: 400px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.navbar {
  font-family: "Raleway", Montserrat, sans-serif;
  margin-bottom: 0;
  background-color: #2d2d30;
  font-size: 12px !important;
  font-weight: 600;
  letter-spacing: 4px;
  opacity: 0.95;
  padding: 0;
}

.fixed-top-2 {
  margin-top: 42px;
  background-color: #ababab;
  font-family: "Raleway", Montserrat, sans-serif;
  margin-bottom: 0;
  font-size: 11px !important;
  font-weight: 600;
  letter-spacing: 4px;
  opacity: 0.9;
  z-index: 1;
  padding: 1pt 0;
}

.fixed-top-2 li a,
.navbar .navbar-brand .fixed-top-2 {
  color: #000 !important;
}

.navbar-nav li a:hover {
  color: #fff !important;
  font-weight: bold;
}

.navbar-nav li.active a {
  color: #fff !important;
  font-weight: bold;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
}

.navbar-expand .navbar-nav .nav-link {
  padding-left: 1em;
}

.open .dropdown-toggle {
  color: #fff;
}

.dropdown-menu {
  font-family: "Raleway", Montserrat, sans-serif;
  margin-bottom: 0;
  border: 0;
  font-size: 12px !important;
  font-weight: 600;
  letter-spacing: 4px;
  background-color: #2d2d30;
  border-radius: 0;
}

.dropdown-menu li a {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px !important;
  font-weight: 600;
  letter-spacing: 4px;
}

.dropdown-menu li a:hover {
  text-decoration: none;
}

.dropdown-item:focus,
.dropdown-item:hover {
  text-decoration: none;
  background-color: #2d2d30;
  /* background-color: #f8f9fa; */
}

footer {
  background-color: #2d2d30;
  color: #f5f5f5;
  padding: 32px;
}

footer a {
  color: #f5f5f5;
}

footer a:hover {
  color: #777;
  text-decoration: none;
}

.form-control {
  border-radius: 0;
}

textarea {
  resize: none;
}

.scrolltop {
  display: none;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  bottom: 20px;
  right: 10px;
  text-align: right;
}

.scroll {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background: #b2b2b2;
  padding: 6px;
  padding-top: 20px;
  padding-left: 8px;
  text-align: right;
  margin: 0 0 0 0;
  cursor: pointer;
  transition: 0.5s;
  opacity: 0.7;
  font-size: 10px;
  line-height: 85%;
  letter-spacing: -1px;
  font-family: "Raleway";
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
}

.scroll:hover {
  background: rgba(178, 178, 178, 1);
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
}

.scroll:hover .fa {
  padding-top: -10px;
}

.scroll .fa {
  font-size: 30px;
  margin-top: -5px;
  margin-left: 1px;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
}

.rowg {
  display: -ms-flexbox;
  /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap;
  /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */

.columng {
  -ms-flex: 33%;
  /* IE10 */
  flex: 33%;
  max-width: 33%;
  padding: 0 4px;
}

.columng img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */

@media screen and (max-width: 800px) {
  .columng {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
  .columng {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

.modal-content,
.modal-header {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-radius: 0;
}
